<h1 style="background-color: #8c8c8c; font-family:'Times New Roman', Times, serif; font-size:1.8rem" class="p-2 mb-3 text-white d-flex justify-content-center"><span>Mis Libros</span></h1>

<div class="container">
    <div class="row">
        <div class="col-md">
            <a href="/libros">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <i class="bi bi-book" style="font-size: 6rem; color: primary;"></i>
                    </div>
                    <h3 class="card-title d-flex justify-content-center text-primary">Libros</h3>
                </div>
            </a>
        </div>
    </div>
</div>