<!doctype html>
<html lang="es">
<html>
  <head>
    <title>Mis Libros</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body class="pb-3 bg-light">
    {{{body}}}
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
